<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>Drinkly Daily Report</title>
	</head>
	<body>
		
		<div class="jumbotron text-center">
		<div class="logo_container">
			<img src="../images/drinkly_logo.jpg" width="100px" height = "100px" class="rounded" alt="Drinly Logo">
		</div>
		<h1>Blackode</h1>
			<p>Your Daily Drinking report</p>
		</div>

		<div class="container">
		<table class="table table-strip">
			<thead>
				<tr>
					<th scope="row">S.No</th>
					<th scope="col">Quantity</th>
					<th scope="col">Unit</th>
					<th scope="col">DateTime</th>
				</tr>
			</thead>

			<tbody>
				
				<tr>
					<th scope="row">1</th>
					<td>13</td>
					<td></td>
					<td>2019-12-12 06:28:22</td>
				</tr>
				
				<tr>
					<th scope="row">2</th>
					<td>550</td>
					<td>ml</td>
					<td>2019-12-12 06:47:27</td>
				</tr>
				
				<tr>
					<th scope="row">3</th>
					<td>600</td>
					<td>ml</td>
					<td>2019-12-12 11:41:50</td>
				</tr>
				
			</tbody>
		</div>
		</table>
		

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
